#root{
  display: flex;
  justify-content: center;
}
.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  max-width: 30%;
  

}
.profile-image{
  height: 250px;
  width: 250px;

}
.profile-image img{
  height: 100%;
  width: 100%;

}
h1{
  color: aqua;
}